.checkout {
	&.login {
		display: table;
		width: 100%;
		padding: 0.5em;
	}
	&.guest {
		display: table;
		width: 100%;
		padding: 0.5em;
		background-color: #eee;
	}
	button[type="submit"], a[role="button"] {
		float: right;
		margin-left: auto;
		border: 0;
		display: inline-block;
		background-color: #e59c29;
		color: #ffffff;
		text-decoration: none;
		padding: 0.5em;
		border-radius: 0.2em;
		&:after {
			margin-left: 0.5em;
			font-family: "fontello";
			content: '\e806';
		}
	}
	button[type="submit"] {
		background-color: #51ad51;
		margin-top: 1em;
	}
}

[data-path^="/checkout"] {
	header[role=main] a.back {
		display:block;
		@media(min-width:60em) {
			display:none;
		}
	}
	header[role=main] a.menu,
	header[role=main] a.order {
		display:none;
	}
	footer[role=main] {
		display:none;
	}
}

.summary {
	background:#444;
	color:#fff;
	padding:0.5em;
	h3 {
		display:none;
	}
	a.reveal {
		display:block;
		background:#666;
		color:#fff;
		text-decoration:none;
		text-align:center;
		padding:0.5em;
		margin-bottom:0.5em;
	}
	ul.order {
		display:none;
	}
	ul {
		list-style-type:none;
		padding:0;
		margin:0;
	}
	li.restaurant {
		strong {
			display:block;
			color:#999;
			border-bottom:1px solid #666;
			font-weight:400;
			font-size:0.8em;
		}
	}
	li.item {
		padding:0.5em;
		background:#555;
		margin:0.5em 0;
		text-align:right;

		.name {
			float:left;
		}
		.subtotal, .quantity, .total {
			display:inline-block;
			margin-left:0.5em;
			font-size:0.8em;
			font-weight:300;
		}
		.quantity:after {
			content:'\00D7';
			margin-left:0.5em;
		}
		.total {
			font-size:1em;
			font-weight:400;
		}
	}
	.line {
		text-align:right;
		label {
			float:left;
			width:60%;
			text-align:left;
			font-weight:300;
		}
		&.total {
			border-top:1px solid #999;
			margin-top:0.5em;
			padding-top:0.5em;
			font-weight:bold;
			label {
				font-weight:400;
			}
		}
	}
	&.complete {
		background:#eee;
		color:#000;
		h3 { display:block; }
		ul.order { display:block; }
		li.restaurant strong {
			color:#666;
			border-bottom-color:#ccc;
		}
		li.item { background:#ddd; }
	}
}

.password {
	display: inline-block;
	width: 50%;
	vertical-align:top;
	&.original {
		padding-right: 0.25em;
	}
	&.repeat {
		padding-left: 0.25em;
	}
	&.show {
		width:100%;
		padding: 0;
	}
}

.thank_you, .your_order, .create_account {
	padding: 0.5em;
	background:#eee;
	display:table;
	width:100%;
}

.create_account {
	background:#fff;
	button[type="submit"] {
		float: right;
		margin-left: auto;
		border: 0;
		display: inline-block;
		background-color: #51ad51;
		color: #ffffff;
		text-decoration: none;
		padding: 0.5em;
		border-radius: 0.2em;
		&:after {
			margin-left: 0.5em;
			font-family: "fontello";
			content: '\e806';
		}
	}
	label.show  {
		padding:0.5em 0;
		font-size:1em;
		input {
			margin-right:0.5em;
		}
	}
}

.image_container {
  display: block;
  position: relative;
}

.image_clickable {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}