.chosen-container {
    font-size:1em;
}

.chosen-container-multi .chosen-choices {
    padding:0.5em;
    background:#fff;
    box-shadow:none;
}

.chosen-container-multi .chosen-choices li.search-choice {
    padding:0.5em; padding-right:1.5em;
    background:#eee;
    border-radius:0;
    border-color:#ccc;
    margin:0; margin-right:0.5em;
}

.chosen-container .chosen-results li {
    padding:0.5em;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    height:auto;
}