.drinks {
	text-align: center;
	a {
		display: inline-block;
		padding: 0.5em 1em;
		background: #666;
		text-decoration: none;
		color: #fff;
		margin: 0.5em;
		&.add {
			background-color: #09c;
		}
	}
	p {
		margin:1em;
	}
	.banner {
		width: 100%;
	}
}