header[role=main] {
	text-align: center;
	padding:0.25em;
	height:3.5em;
	border-bottom:1px solid #ccc;
	position:absolute;
	top:0; left:0; right:0;
	background:#fff;
	z-index:900;
}
header[role=main] h1 {
	margin:0;
	padding:0;
	font-size:1em;
	position:absolute;
	top:0.25em;
	right:1em;
	left:1em;
	z-index:1;
	text-align: center;
	@media (min-width:60em) {
		text-align:left;
		right:auto;
	}
}
header[role=main] .logo {
	height:3em;
	padding:0.25em;
}
header[role=main] a.menu,
header[role=main] a.back,
header[role=main] a.order {
	position:absolute;
	top:0; left:0;
	height:3.5em;
	width:3.5em;
	padding:0.25em;
	z-index:10;
	cursor:pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}
@media (min-width:60em) {
	header[role=main] a.menu,
	header[role=main] a.back {
		display:none;
	}
}
header[role=main] a.menu img,
header[role=main] a.back img,
header[role=main] a.order img  {
	border:0;
	position:absolute;
	top:0.25em; left:0.25em;
	height:3em;
	transition:-webkit-transform 0.3s cubic-bezier(0,0.1,0.2,1);
}
body.menu-open header[role=main] a.menu img,
body.menu-open header[role=main] a.back img {
	-webkit-transform:rotate(90deg);
}
header[role=main] a.order {
	left:auto;
	right:0;
	.items {
		display:block;
		position:absolute;
		bottom:0.4em;
		right:0.4em;
		font-size:0.7em;
		font-weight:600;
		padding:0.15em 0.3em;
		background:#e59c29;
		color:#fff;
		border-radius:0.4em;
	}
}
header[role=main] a.back {
	display:none;
}
body.order-open header[role=main] a.order img.fork {
	-webkit-transform:rotate(-90deg);
}
body.order-open header[role=main] a.order img.knife {
	-webkit-transform:rotate(-90deg);
}

header[role=main] a img {
	border:0;
	height:3em;
	padding:0.8em;
}