header.home {
	background:url('/assets/images/food.jpg')
	background-size:cover;
	background-position:center center;
	color:#fff;
	text-align:center;
	width:100%;
	height:25em;
	padding:2em;

	&:before {
		content:'';
		height:100%;
		width:0;
		margin-left:-0.3em;
		display:inline-block;
		vertical-align:middle;
	}

	.content {
		display:inline-block;
		vertical-align:middle;
	}

	h2 {
		font-size:1.6em;
		@media (min-width:32em) {
			font-size:2em;
			span {
				display:inline-block;
			}
		}
	}

	h3 {
		margin-top:1em;
	}

	sup.dollar {
		font-size:0.7em;
		top:-0.35em;
	}
	sup.cents {
		font-size:0.5em;
		top:-0.78em;
	}
	small.decimal {
		font-size:0.3em;
	}

	img.indiegogo {
		height:4em;
	}

	a.support {
		display: inline-block;
		background:#ec1078;
		padding:0.4em 1em;
		font-size: 1em;
		color:#fff;
		border-radius: 0.3em;
		text-decoration: none;
		font-weight: 500;
		border-top:3px solid lighten(#ec1078, 10%);
		border-bottom:2px solid darken(#ec1078, 10%);
		position:relative;
		margin-top:1em;
	}

	@media (min-width:40em) {
		font-size:1.35em;
	}
	@media (min-width:60em) {
		font-size:1.8em;
	}
	@media (min-width:80em) {
		font-size:2.2em;
	}
	@media (min-width:100em) {
		font-size:2.6em;
	}
}

.times {
	font-size: 0.65em;
	padding:1em;
	background:#fff;
	img {
		float:left;
		height:1.25em;
		margin-right:0.8em;
		&.clock {
			height:2.25em;
			margin-top:0.2em;
		}
	}
	span {
		display:block;
		font-size:0.75em;
		&.open {
			font-size:0.9em;
			color:#3d9c3d;
		}
		&.closed {
			font-size:0.9em;
			color:#999;
		}
	}
	a.order {
		display: inline-block;
		float:right;
		background:#e59c29;
		padding:0.4em 1em;
		font-size: 1em;
		color:#fff;
		border-radius: 0.3em;
		text-decoration: none;
		font-weight: 500;
		border-top:3px solid lighten(#e59c29, 10%);
		border-bottom:2px solid darken(#e59c29, 10%);
		position:relative;
	}
	@media (min-width:20em) {
		font-size:0.7em;
	}
	@media (min-width:23em) {
		font-size:0.8em;
	}
	@media (min-width:30em) {
		font-size:1em;
	}
	@media (min-width:40em) {
		font-size:1.25em;
		padding:0.8em;
	}
}

.section {
	background:#eee;
	padding:1em;
	h4 {
		font-size:1.5em;
	}
}