[data-module*=location] {
	&.active {
		display:block;
		&.super .close {
			display:none;
		}
	}
	.content {
		position:relative;
		width:100%;
		max-width:25em;
		border:1px solid #666;
		background:#fff;
		text-align:left;
		padding:1em;
	}
	.field {
		display:inline-block;
		vertical-align: top;
		&.street {
			width:100%;
			height:4em;
		}
		&.apt {
			width:15%;
			height:4em;
		}
		&.city {
			width:50%;
			padding-right:0.5em;
		}
		&.state {
			width:25%;
			padding-right:0.5em;
		}
		&.zip {
			width:25%;
		}
		input {
			position:relative;
			border:1px solid #999;
		}
		.suggest {
			display:inline-block;
			position:relative;
			height:2.5em;
			width:100%;
			input {
				position:absolute;
				top:0; left:0;
				&[name=autocomplete] {
					color:#aaa;
					z-index:0;
				}
				&:not([name=autocomplete]) {
					background:rgba(255,255,255,0.1);
					z-index:2;
				}
			}
		}
	}
	.map {
		width:100%;
		height:25%;
		min-height:10em;
		border:1px solid #999;
		pointer-events:none;
	}
	address.form {
		margin:1em 0;
		font-style:normal;
	}
	a.set {
		background-color:#777;
		padding:0.5em 1em;
		border-radius:0;
		color:#fff;
		z-index:999;
		text-decoration:none;
		position:relative;
		float:right;
		&.valid {
			background-color:#5aba45;
			border-radius:0.3em;
			border-top:0.125em solid lighten(#5aba45, 10%);
			padding-top: 0.375em;
			border-bottom: 0.2em solid darken(#5aba45, 10%);
			padding-bottom: 0.3em;
			padding-right:2em;
			&:after {
				content:'\00a0\00a0\0203A';
				position:absolute;
				right:0.2em; top:-0.25em;
				font-size:2em;
			}
		}
		&.error {
			background-color:#333;
			&:before {
				content:'\026A0\00a0\00a0';
				color:#c00;
			}
		}
		.name {
			font-size: 0.8em;
			line-height: 1em;
			display: block;
		}
		.address {
			font-size: 0.6em;
			line-height: 1em;
			display: block;
		}
	}
	a.close {
		text-decoration:underline;
		padding:0.5em 1em 0.5em 0em;
		display:inline-block;
		cursor:pointer;
		color:#999;
	}
	button.close {
		color: #900;
		font-size: 2em;
		position:absolute;
		border: 0;
		background: transparent;
		top:0.1em;
		right:0.1em;
		line-height:1em;
	}
	h2 {
		font-size:1.5em;
		height:3em;
		small {
			display:block;
			font-size:0.6em;
			color:#51ad51;
			font-weight:400;
		}
	}
}