/*
	$primary = #51ad51;
	$secondary = #e59c29;
*/

* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin:0;
	padding:0;
	background-color:#444;
	html.scrolling & {
		overflow:hidden;
	}
}

label {
	display: block;
	font-size:0.8em;
}

a {
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.field.icon {
	position:relative;
	i {
		position:absolute;
		top:0.1em; left:0.15em;
		font-size:1.6em;
		color:#999;
		pointer-events:none;
	}
	input {
		padding-left:2.5em;
	}
}

textarea, input[type=text], input[type=tel], input[type=email], input[type=number], input[type=password] {
	width:100%;
	padding:0.5em;
	color:#000;
	outline:0;
	&:focus {
		border:1px solid #5897fb;
	}
}

select {
	padding:0.5em;
	width:100%;
	color:#000;
	outline:0;
	&:focus {
		border:1px solid #5897fb;
	}
}

#page {
	position:absolute;

	top:0; left:0; bottom:0; right:0;
	html.scrolling & {
		overflow:hidden;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	font-weight:300;
	font-family: 'Open Sans', sans-serif;
}

.content[role=main] {
	position:absolute;
	top:0; left:0; right:0;
	padding-top:3.5em;
	background:#fff;
	min-height:100%;
	html.scrolling & {
		overflow:auto;
		-webkit-overflow-scrolling: touch;
		bottom:0;
		top:3.5em;
		min-height:0;
		padding-top:0;
	}
}

.constraint {
	max-width:60rem;
	margin:0 auto;
	position:relative;
	@media (min-width:75em) {
		max-width:80%;
	}
}



[data-container="/"] {
}

footer[role=main] {
	padding:1em;
	background-color:#fff;
	color:#999;
	img.dog {
		padding-right:1em;
		border-right:1px solid #eee;
		margin-right:1em;
		height:2.5em;
		display:inline-block;
		vertical-align:middle;
	}
	img.social {
		float:right;
		height:2.5em;
		margin-left:1em;
		&.twitter {
			margin:0;
		}
	}
	.text {
		display:inline-block;
		vertical-align:middle;
		width:40%;
	}
	small {
		display:block;
	}
	@media (max-width:23em) {
		font-size:0.8em;
	}
}

#wrapper {
	height:100%;
	width:100%;
	position:absolute;
	top:0; left:0;
}

html.csstransitions.csstransforms #wrapper {
	transition:-webkit-transform 0.3s cubic-bezier(0,0.1,0.2,1);
	transition:-moz-transform 0.3s cubic-bezier(0,0.1,0.2,1);
	transition:-ms-transform 0.3s cubic-bezier(0,0.1,0.2,1);
	transition:transform 0.3s cubic-bezier(0,0.1,0.2,1);
}

html.csstransitions #wrapper {
	transition:left 0.3s cubic-bezier(0,0.1,0.2,1);
}

.fader {
	background:transparent;
	display:none;
	position:absolute;
	top:0; left:0; bottom:0; right:0;
	z-index:10000;
}

body.menu-open .fader,
body.order-open .fader {
	display:block;
	cursor:pointer;
}

body.menu-open #wrapper {
	left:80%;
}
body.order-open #wrapper {
	left:-80%;
}

@media (min-width:30em) {
	body.menu-open #wrapper {
		left:24em;
	}
	body.order-open #wrapper {
		left:-24em;
	}
}

html.csstransforms {
	body.menu-open #wrapper {
		left:0;
		-webkit-transform:translate(80%);
		-moz-transform:translate(80%);
		-ms-transform:translate(80%);
		transform:translate(80%);
	}
	body.order-open #wrapper {
		left:0;
		-webkit-transform:translate(-80%);
		-moz-transform:translate(-80%);
		-ms-transform:translate(-80%);
		transform:translate(-80%);
	}

	@media (min-width:30em) {
		body.menu-open #wrapper {
			left:0;
			-webkit-transform:translate(24em);
			-moz-transform:translate(24em);
			-ms-transform:translate(24em);
			transform:translate(24em);
		}
		body.order-open #wrapper {
			left:0;
			-webkit-transform:translate(-24em);
			-moz-transform:translate(-24em);
			-ms-transform:translate(-24em);
			transform:translate(-24em);
		}
	}
}

.loading:not(body) {
	display: none;
	position:fixed;
	top:0; left:0; bottom:0; right:0;
	z-index:9000;
	text-align:center;
	background:rgba(100,100,100,0.7);
	color:#fff;
	body.loading & {
		display:block;
	}
	body.failed & {
		background:rgba(0,0,0,0.7);
	}
	&:before {
		content:'';
		height:100%;
		width:0;
		display:inline-block;
		vertical-align:middle;
		margin-left:-0.3em;
	}
	.spinner {
		display:inline-block;
		vertical-align:middle;
		body.failed & {
			display:none;
		}
	}
	.error {
		display:none;
		vertical-align:middle;
		body.failed & {
			display:inline-block;
		}
		a {
			color:#fff;
			text-decoration-color:#aaa;
			&.primary {
				display:block;
				background:#e59c29;
				padding:0.5em 1em;
				margin:0.5em auto;
				text-decoration:none;
				font-size:1.2em;
				width:10em;
			}
		}
	}
}

.modal {
	display:none;
	position:absolute;
	top:0; left:0; bottom:0; right:0;
	z-index:900;
	text-align:center;
	background:rgba(0,0,0,0.3);
	overflow:auto;
	padding:1em;
	&:before {
		content:'';
		height:100%;
		width:0;
		display:inline-block;
		vertical-align:middle;
		margin-left:-0.3em;
	}
	.content {
		display:inline-block;
		vertical-align:middle;
	}
}

.spinner {
  width: 100px;
  text-align: center;
}

.spinner > div {
  width: 14px;
  height: 14px;
  background-color: #fff;
  margin:6px;

  border-radius: 100%;
  display: inline-block;
  animation: bouncedelay 1.2s infinite ease-in-out;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.24s;
  animation-delay: -0.24s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.12s;
  animation-delay: -0.12s;
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
  }
}