nav[role=main] {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:80%;
	min-height:100%;
	background:#444 url('/assets/images/backgrounds/shadow-right.png') top right repeat-y;
	z-index:0;
	html.scrolling & {
		position:fixed;
		overflow:auto;
		-webkit-overflow-scrolling: touch;
		bottom:0;
	}
	header {
		display:block;
		border-bottom:1px solid #666;
		color:#bbb;
		margin:0.875em;
		margin-top:1.25em;
		padding:0em 1.0em;
		font-size:0.8em;
		span {
			color:#ccc;
		}
	}
	a {
		display:block;
		color:#fff;
		padding:0.75em 1.5em;
		padding-left:3.75em;
		text-decoration: none;
		&:hover,
		&:active {
			background-color:#222;
		}
		span.text {
			display:inline-block;
			vertical-align:middle;
		}
		img {
			height:1.5em;
			width:1.5em;
			margin-right:1em;
			margin-left:-2.5em;
			display:inline-block;
			vertical-align:middle;
		}
		strong {
			font-weight:400;
		}
		small {
			display:block;
			font-size:0.8em;
			color:#ddd;
			span {
				display:inline-block;
			}
		}
		&.account {
			background:#555;
			height:3.5em;
			padding:0.5em;
			padding-left:4em;
			border-bottom:1px solid #333;
			&:hover,
			&:active {
				background-color:#222;
			}
			img {
				height:2.5em;
				width:2.5em;	
				margin-right:0.5em;
				margin-left:-3.25em;
				border-radius:10%;
			}
		}
	}
	@media (min-width:30em) {
		width:24em;
	}
}

nav.header {
	display:none;
	text-align:right;
	margin-right:3.5em;
	a {
		display:inline-block;
		padding:0.8em 0.8em;
		color:#333;
		text-decoration:none;
		&:hover {
			color:#3d9c3d;
		}
	}
	@media (min-width:60em) {
		display:block;
	}
}

nav.footer {
	display:none;
	text-align:left;
	margin-top:-0.4em;
	a {
		display:inline-block;
		padding:0.25em 0.8em;
		color:#666;
		text-decoration:none;
		&:first-child {
			margin-left:-0.8em;
		}
		&:hover {
			color:#3d9c3d;
		}
	}
	@media (min-width:60em) {
		display:block;
	}
}