nav.order {
	display:none;
	position:absolute;
	top:0;
	right:0;
	width:80%;
	min-height:100%;
	background:#444;
	z-index:0;
	color:#fff;
	html.scrolling & {
		position:fixed;
		overflow:auto;
		-webkit-overflow-scrolling: touch;
		bottom:0;
	}
	input {
		border:#444;
		background:#666;
		color:#fff;
		text-align:center;
	}
	.checkout {
		background:#e59c29;
		color:#fff;
		float:right;
		height:2.5em;
		padding:0.5em 1em;
		text-decoration:none;
		&.disable {
			opacity:0.1;
		}
	}
	ul {
		list-style-type:none;
		padding:0;
		margin:0;
	}
	li.restaurant {
		& > a.name {
			display:block;
			color:#999;
			border-bottom:1px solid #666;
			font-weight:400;
			font-size:0.8em;
		}
	}
	li.item {
		padding:0.5em;
		background:#555;
		margin:0.5em 0;
		.controls {
			text-align: left;
			padding-top: 0.5em;
		}
		.total {
			float: right;
		}
		dl.options {
			margin: 0;
		}
		dt {
			border-bottom: 1px solid #666;
			font-size: 0.8em;
			padding-top: 1em;
		}
		dd {
			margin-left: 0;
			padding-top: 0.5em;
		}
		.subtotal {
			display: inline-block;
			vertical-align: middle;
			font-size: 0.8em;
			&:before {
				content: '\00d7';
				padding: 0 0.8em;
			}
		}
		.delete {
			float: right;
			color: #c00;
			padding: 0.4em 0;
		}
	}
	form.quantity {
		display: inline-block;
		input {
			display: inline-block;
			vertical-align: middle;
			width:2.5em;
		}
		button {
			display:none;
		}
	}
	@media (min-width:30em) {
		width:24em;
	}
}
nav.order .top {
	background:#666;
	padding:0.5em;
	height:3.5em;
	border-bottom:1px solid #333;
	span.items, 
	span.subtotal {
		display:block;
		font-size:0.9em;
	}
}
nav.order .restaurants_list {
	padding:0.5em;
}

.order_popup {
	position: absolute;
	right: 0.75em;
	top: 0;
	padding: 0.5em;
	background: #e59c29;
	color: #fff;
	border-radius: 0.3em;
	pointer-events:none;
	opacity:0;
	transition:opacity 0.2s, top 0.4s cubic-bezier(.43,.06,.41,1.42);
	&:after {
		content: '';
		position: absolute;
		top: -0.5em;
		right: 0.5em;
		border: 0.5em solid transparent;
		border-top: 0;
		border-bottom-color: #e59c29;
	}
	&.active {
		top: 3.75em;
		opacity: 1;
	}
}

[data-module="map"] {
	height:8.5em;
	width:4.5em;
	@media (min-width:30em) {
		height:8em;
		width:8em;
	}
	@media (min-width:60em) {
		width:16em;
	}
}

fieldset.contact {
	& > div {
		margin-bottom:0.75em;
	}
	& > div:last-of-type {
		margin-bottom:0;
	}
}

h3 {
	margin-bottom:0.5em;
	.icon-lock {
		color:#444;
	}
}

h2.checkout {
	padding:0.3em;
	font-size:1.66em;
	background:#444;
	color:#fff;
	text-align:center;
	img {
		height:1em;
	}
	small {
		display:block;
		font-size:0.5em;
	}
}

form[action^="/checkout"] {
	
	fieldset {
		border:0;
		padding:0.5em;
		&:nth-of-type(even) {
			background:#eee;
		}
		margin:0;
	}
}

.delivery {
	padding-left:6em;
	@media (min-width:30em) {
		padding-left:10em;
	}
	@media (min-width:60em) {
		padding-left:18em;
	}
	.mapcontainer {
		position: relative;
		border:1px solid #ccc;
		background:#fff;
		padding:0.25em;
		float:left;
		margin-left:-6em;
		@media (min-width:30em) {
			padding:0.5em;
			margin-left:-10em;
		}
		@media (min-width:60em) {
			margin-left:-18em;
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 10;
		}
	}
	address {
		width:100%;
		display:block;
		font-style:normal;
		height:3.5em;
	}
	.change_address {
		color:#3d9c3d;
		cursor:pointer;
		text-decoration:underline;
	}
	textarea {
		width:100%;
		height:5.5em;
	}
}

.tip {
	.custom {
		padding-right:7em;
	}
	select.percent {
		float:right;
		margin-right:-7em;
		width:6.5em;
	}
}

form[action="/checkout"] {
	margin:0;
	button[type=submit] {
		width:100%;
		border:0;
		color:#fff;
		text-align:center;
		padding:0.5em;
		border-radius:0.2em;
		background:#e59c29;
		font-size:1.5em;
		background:linear-gradient(top, #e59c29, darken(#e59c29, 10%));
		border-top:1px solid lighten(#e59c29, 25%);
		border-bottom:1px solid darken(#e59c29, 20%);
	}
}