fieldset[data-module=payment] {
	a.select_card {
		float:right;
		&.hidden {
			display:none;
		}
	}
	small.secure {
		margin-bottom:0.75em;
		display:block;
	}
	.cards {
		display:none;
		padding:0.5em;
		background:#444;
		color:#fff;
		& > label {
			font-size:1em;
		}
		img.secure {
			float:right;
			width:7.5em;
		}
		.card {
			padding:0.5em;
			input {
				margin-right:0.5em;
			}
			&.selected {
				background:#666;
			}
			&.new {
				.add {
					display:none;
					padding:0.5em;
					margin-top:0.5em;
					background:#333;
					border:1px solid #888;
				}
				&.selected {
					background:#444;
					.add {
						display:block;
					}
				}
			}
		}
	}
	.type_select {
		.text {
			font-size:0.8em;
		}
		img {
			display:block;
			margin:0 auto;
		}
		input {
			display: none;
		}
		label.option {
			display:inline-block;
			width:50%;
			padding:1em;
			text-align:center;
			font-size:1em;
			&.selected {
				background:#444;
				color:#fff;
			}
			span.text {
				display:inline-block;
				vertical-align:middle;
				strong {
					display:block;
				}
			}
		}
	}
}