.restaurant_logo {
	width: 100%;
	display: block;
	img {
		width: 100%;
		display: block;
	}
	@media (min-aspect-ratio:1/1) {
		display:none;
	}
}

.restaurant_info {
	padding:0.5em;
	color:#fff;
	background:#444;
	.logo {
		float:left;
		height:4em;
		margin-right:1em;
		@media (max-aspect-ratio:1/1) {
			display:none;
		}
	}
	h2 {
		.name {
			display:block;
		}
		.hours, .category {
			font-size:0.8em;
		}
	}
}

.list_link {
	display: block;
	padding: 1em 0.5em;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	text-decoration:none;
	color:#000;
	i {
		float:right;
	}
	&:active {
		background-color:#ddd;
	}
	small {
		display: block;
	}
	.description {
		font-size: 0.75em;
	}
}

form.item {
	padding:1em;
	background:#f5f5f5;
	.js & .agreement {
		display:none;
	}
	.description {
		font-size: 1em;
	}
}

nav.categories {
	background:#eee;
	height:2.5em;
	a {
		display:none;
		&.prev,
		&.next {
			width:50%;
			display:inline-block;
			text-align:center;
			padding:0.5em;
			background:#eee;
			text-decoration:none;
			color:#000;
		}
		&.prev {
			float:left;
			text-align:left;
			&:before {
				content:'< '
			}
		}
		&.next {
			float:right;
			text-align:right;
			&:after {
				content:' >'
			}
		}
	}
}

.breadcrumbs {
	display:none;
}
