.content[role=main] {
	.current_address {
		padding:1em;
		background:#ddd;
		color:#000;
		address {
			display: inline-block;
			padding:0.25em 0;
		}
		.change_address {
			color:#3d9c3d;
			cursor:pointer;
			text-decoration:underline;
		}
		.mapcontainer {
			float:left;
			.map {
				width:6em;
				height:6em;
				transform:scale(0.5) !important;
				transform-origin:top left;
			}
			height:3.5em;
			width:3.5em;
			overflow:hidden;
			margin-right:1em; 
			padding:0.25em;
			border:1px solid #ccc;
			background:#fff;
		}
	}
	.restaurants.list {
		padding:1em;
		background:#eee;
		h3 {
			font-size: 1.1em;
			font-weight: 300;
			margin:0;
		}
		.restaurant {
			width:49%;
			vertical-align: top;
			display:inline-block;
			margin-right:2%;
			margin-bottom: 2%;
			background:#fff;
			padding:1%;
			text-decoration: none;
			text-align: center;
			span {
				font-size:0.8em;
				color:#444;
			}
			span.delivery_fee {
				display:block;
				font-size:0.5em;
				color:#444;

			}
			.hours {
				font-size: 0.6em;
			}
			.hours.open {
				color: #51ad51;
			}
			.hours.closed {
				color: gray;
			}
			.logo {
				position:relative;
				width:100%;
				padding-bottom:50%;
				background:#eee;
				overflow:hidden;
				img {
					display:block;
					position:absolute;
					top:0; left:0;
					width:100%;
				}
			}
		}
		@media (max-width:35em) {
			.restaurant:nth-child(2n) {
				margin-right:0;
			}
		}
		@media (min-width:35em) and (max-width:60em) {
			.restaurant {
				width:32%;
				font-size:1.2em;
			}
			.restaurant:nth-child(3n) {
				margin-right:0;
			}
		}
		@media (min-width:60em) and (max-width:85em) {
			.restaurant {
				width:23.6875%;
				margin-right:1.75%;
				margin-bottom:1.75%;
				padding: 0.875%;
				font-size:1.4em;
			}
			.restaurant:nth-child(4n) {
				margin-right:0;
			}
		}
		@media (min-width:85em) and (max-width:110em) {
			.restaurant {
				width:18.6%;
				margin-right:1.75%;
				margin-bottom:1.75%;
				padding: 0.875%;
				font-size:1.6em;
			}
			.restaurant:nth-child(5n) {
				margin-right:0;
			}
		}
		@media (min-width:110em) {
			.restaurant {
				width:15.416666666%;
				margin-right:1.5%;
				margin-bottom:1.5%;
				padding: 0.75%;
				font-size:1.75em;
			}
			.restaurant:nth-child(6n) {
				margin-right:0;
			}
		}
	}
}

[data-path^="/restaurants/"] {
	header[role=main] a.back {
		display:block;
		@media(min-width:60em) {
			display:none;
		}
	}
	header[role=main] a.menu {
		display:none;
	}
}